# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
link-workspace-packages=true
@voidzero-dev:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${VP_TOKEN}